* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid;
  height: 15%;
}

form #message {
  border: 2px solid;
  padding: 10px;
  width: 85%;
  height: 100%;
  resize: none;
  font-size: 22px;
}

form button {
  margin: 3%;
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
}
#board {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
}

#board #messages {
  width: 75%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#board #messages .chat {
  margin: 10px 0;
  padding: 10px 5px;
  width: auto;
  min-width: 120px;
  max-width: 75%;
  font-size: 18px;
  align-self: flex-start;
  margin-left: 20px;
  color: #fff;
  border-radius: 0.5em;
  background: #323331;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  position: relative;
}

#board #messages .chat::after {
  font-size: 0.8em;
  color: #242424;
  content: attr(data-time);
  position: absolute;
  bottom: -30px;
  left: 0;
  color: #000;
}

#board #messages .chat h1 {
  font-size: 1.25em;
  padding: 0 0 10px;
  color: #edf060;
}

#board #messages .chat em {
  font-weight: 500;
  font-size: 1.05em;
}

#board #messages .chat strong {
  font-weight: 900;
  font-size: 1.05em;
}

#board #messages .chat mark {
  padding: 5px;
  font-weight: 300;
  font-size: 1.05em;
  background: #070209;
  color: #fff;
}

#board #messages .chat.sent {
  align-self: flex-end;
  margin-left: 0px;
  margin-right: 20px;
}

#board #messages .chat .username {
  font-size: 1.15em;
  letter-spacing: 0;
  font-weight: 800;
  font-style: italic;
}

#board #messages .chat .username:hover {
  text-decoration: underline;
}

#board #messages .chat.sent h1 {
  display: none;
}

#board #messages .info {
  margin: 10px 0;
  padding: 5px;
  align-self: center;
  font-size: 18px;
  text-align: center;
  width: auto;
  border-radius: 10px;
  background-color: #ffb627;
  font-weight: 600;
}

#board #messages .join {
  color: #310d20;
}

#board #messages .left {
  color: #af0505;
}

#board #messages .info span {
  font-size: 1.2em;
  font-weight: 800;
}

#board #list {
  width: 25%;
  border: 2px solid black;
}

#board #list {
  width: 25%;
  border: 2px solid black;
}

#list h1 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  padding: 10px 0;
}

#list h2 {
  margin: 8px 0;
  height: 1.3em;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#public {
  width: 100%;
  height: 100vh;
}
